.Main-block__map{
    margin-top: 40px;
    grid-column-start: 4;
    grid-column-end: 15;
    width: calc(10 * 90px);
    height: 550px;
}

.Main-block__text{
    text-align: center;
    grid-column-start: 5;
    grid-column-end: 13;
    font-size: 18px;
}