.Dropdown {
  position: relative;
  display: inline-block;
}
.Dropdown__content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 130px;
  z-index: 1;
  flex-direction: column;
  border: 1px solid #262626;
  border-radius: 4px;
  align-items: center;
}
.Dropdown:hover .Dropdown__content {
  display: flex;
}
.Dropdown__item {
  letter-spacing: 1px;
  padding: 10px 10px;
  text-decoration: none;
  color: #262626;
  width: 70%;
}
.Dropdown__item:hover {
  color: #05c46b;
}
.Dropdown__item--upper {
  border-bottom: 1px solid #262626;
}
.Dropdown__item--lower {
  margin-left: 2.7em;
}
