.Header {
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0 4px 15px rgba(48, 47, 47, 0.13);
  z-index: 10;
}
.Header__content {
  width: 1440px;
  display: grid;
  grid-template-columns: repeat(16, 90px);
  margin: 0 auto;
}
.Header__logo {
  grid-column-start: 2;
  margin-top: 11px;
}
.Header__my-profile {
  grid-column-start: 14;
  grid-column-end: 16;
  font-size: 14px;
  line-height: 21px;
  border-left: 1px solid #262525;
  height: 21px;
  padding-left: 5px;
  letter-spacing: 1px;
  margin-top: 27px;
  color: #262525;
  text-decoration: none;
}
.Header__my-profile:hover {
  color: #05c46b;
}
